html, body {
  height: 100%;
  min-height: 100vh;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
  font-family: "Helvetica",Neue Bold;
}

.header{
  display: flex;
  justify-content: space-between;
  background: #ffffff
}

.login-register{
  margin-top: 15px;
  text-align: center;
  height: 50%;
  width: 300px;
  text-decoration: none;
}

.logo{
  height: 100px;
  width: auto;
  display:flex;
  padding-top: 10px;
}

.busqueda-favs{
  display: flex;
  height: auto;
  width: 300px;
}

.bookmark:hover,
.bookmark:focus {
  cursor: pointer;
  transform: scale(1.1);
} 
  

.favoritos {
  margin-top:32px;
  list-style: none;
}

.favoritos:hover,
.favoritos:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.darkmode {
  margin-right: 20px;
  margin-top: 32px;
  list-style: none;
  border: none;
  background-color: transparent;
}

.darkmode:hover,
.darkmode:focus {
  cursor: pointer; 
  transform: scale(1.1);
}

.linea {
  border-top: 2px solid #021c8d;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 5px auto 0 auto;
}

#sesion{
  text-decoration: none;
  padding: 4px;
  color: black;
  font-family: "consolas";
  font-size: 17px;
}
#registro{
  text-decoration: none;
  color: black;
  font-family: "consolas";
  font-size: 17px;
}
#registro:hover{
  color: #0631ef;
  transition: 0.2s;
}
#sesion:hover{
  color: #0631ef;
  transition: 0.2s;
}
.lineaLogin{
  border-top: 2px solid #021c8d;
  height: 2px;
  max-width: 40%;
  padding: 0;
  margin: 5px auto 5px auto;
}
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0;
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

#estilo_input.flexsearch--input {
  font-family: "Helvetica",Neue Bold;
}

.flexsearch {
  padding: 15px; 
  height: auto;
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 0 50px 0 10px;
	border-color: #021c8d;
  border-radius: 30px; 
  border-style: solid;
	border-width: 1px;
  margin-top: 15px;
  margin-right: 10px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 40px;
	height: 40px;
  padding: 0;
  border: none;
	margin-top: 12px; 
  margin-right: 5px;
	background: transparent;
  color: #021c8d;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  line-height: 15px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #021c8d;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

.navLinks{
  text-align: center;
  height: 50%;
  width: 300px;
  text-decoration: none;
}

.h3, h3 {
  font-size: 1.75rem;
  position: absolute;
  right: 740px;
  height: 100px;
  width: 700px;
}

img.producto-img {
  margin-top: 75px;
  margin-left: 150px;
  width: 450px;
  height: 350px;
  border: 1px solid;
  border-color: #e6e5e5;
  padding: 10px;
  border-radius: 5px;
}

.botones {
  width: 100px;
  margin-left: 1500px;
  position: relative;
  margin-bottom: 10px;
}

.producto {
  width: 100%;
  margin-bottom: 30px;
}

#bookmark {
  margin-top: 20px;
}

#cuadroComprar {
  width: 450px;
  height: 250px;
  background: transparent;
  border: 1px solid #d1d1d1;
  float: right;
  margin-top: 110px;
  display: flex;
  margin-right: 150px;
}

#snk-nombre {
  font-size: 20px;
  margin-top: 20px;
}

#lastSale {
  margin-left: 150px;
  padding-top: 50px;
}

.saletxt {
  margin-left: 30px;
}

.precio {
  margin-left: 50px;
}

#opciones {
  font-size: 20px;
  height: 0px;
  margin-left: -20px;
}
.goat {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background: transparent;
  position: relative;
  top: 80px;
  right: 105px;
}

#goatcss {
  width: 102px;
  height: 60px;
  margin-top: -11px;
}
.stockx {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background: transparent;
  position: relative;
  top: 40px;
  right: -25px;
}

#stockxcss {
  height: 15px;
  width: 100px;
  margin-top: 10px;
}

.farfetch {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background: transparent;
  position: relative;
  top: 0px;
  right: -155px;
}

#farfetchcss {
  height: 10px;
  width: 100px;
  margin-top: 10px
}

th, td {
  padding: 15px;
}
.info-producto {
  border-spacing: 30px;
  top: 100px;
  margin-left: 150px;
  font-size: 12px;
}

.footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 5px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

#icono_link {
  padding: 1px;
  margin: 5px;
  align: center;
}


.redes-sociales{
  padding-bottom: 5px;
  justify-content: space-around;
}

#icono_link {
  color: #fff;
  border: none;
  background-color: transparent;
}

#icono_link:hover,
#icono_link:focus {
  cursor: pointer;
  transform: scale(1.1)
}

.comprar{
  border: 1px solid;
  border-radius: 5px;
  border-color: lightgray;
}

.signup-producto{
  text-align: center;
  margin-top: 25%;
  margin-left: 30%;
}

.table{
  margin-top: 30px;
}

.descripcion{
  position: absolute;
  right: 10px;
  bottom: 50px;
}  

#descr {
  position: absolute;
  left: 0px;
  bottom: 40px;
  font-size: 18px;
} 

#detalles {
  position: absolute;
  bottom: 170px;
  font-size: 18px;
}
.lineaProducto{
  border-top: 2px solid lightgray;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 5px auto 0 auto;
}