<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="png" href="static/favicon-32x32.png" sizes="32x32" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Couture Culture</title>
  <link href="static/styleHome.css" rel="stylesheet" type="text/css" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header">
      <div class="login-register"
        <nav>
              {% if logueado == True %}
                  <ul class="navLinks">
                  <p id="sesion" class="nombreSesion"> Bienvenido, {{nombre}}! </p>
                  </ul>
              {% else %}
                  <div>
                  <ul class="navLinks">
                  <a id="sesion" href="{{ url_for('redireccionLogin') }}"> Iniciar Sesion </a>  
      	          <div class="lineaLogin"></div>
                  <a id="registro" href="{{ url_for('redireccionRegistro') }}"> Registrarse </a>
                  </ul>
                </div>
              {% endif %}
        </nav>
      </div>
      
      <div class="logo">
        <img src="static/logo.png" width="150" height= "70">
      </div>
      
      <div class="busqueda-favs">
        <div class="favoritos">
          <li>
            <a href="bookmark">
          </li>
            <img src="static/bookmark.png" width="24" height= "24">
            </a>
        </div>
        <div class="flexsearch">
          		<div class="flexsearch--wrapper">
          			<form class="flexsearch--form" action="#" method="post">
          				<div class="flexsearch--input-wrapper">
          					<input class="flexsearch--input" id="estilo_input" type="search" placeholder="Buscar">
          				</div>
          				<input class="flexsearch--submit" type="submit" value="&#10140;"/>
          			</form>
          		</div>
          </div>
      </div>
    </div>
    <div class="linea"></div>
  </header>
<main>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators" id="carousel_indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="static/img/slider_img1.png" id ="estilo-img" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="static/img/slider_img2.jpg" id ="estilo-img" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="static/img/slider_img3.jpg" id ="estilo-img" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="static/img/slider_img4.png" id ="estilo-img" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" id="carousel-control" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" id="carousel-control" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" id="carousel-control" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div> 
  <label id="filtros" for="selectFiltros" class="category_list">
    <select id="selectFiltros" onchange="filtrar()">
        <option value="todo" href="#" class="category_item" category="all" onclick="filtrado('')"> Todo </option>
				<option  value="zapatillas" href="#" class="category_item" category="Zapatillas" onclick="filtrarProductos('zapatillas')"> Zapatillas </option>
				<option  value="pantalones" href="#" class="category_item" category="Pantalones" onclick="filtrarProductos('pantalones')"> Pantalones </option>
				<option  value="buzos" href="#" class="category_item" category="buzosCamperas" onclick="filtrarProductos('buzos')"> Buzos Y Camperas </option>
				<option  value="remeras" href="#" class="category_item" category="Remeras" onclick="filtrarProductos('remeras')"> Remeras </option>
    </select>
  </div>
  <br>
  </main> 
  <section class="container-products">
  {% for elemento in zapatillas %}
  <a class="zapatillas">
    <form id="form{{elemento[0]}}" action="/producto" method="POST">
      <input name="producto" value="{{elemento[0]}}" hidden>
      <input name="tipo" value="zapatillas" hidden>
    </form>
    
      <div class="product" onclick="document.getElementById('form{{elemento[0]}}').submit()">
      <img src="static/products/{{elemento[1]}}" width="130" height= "100" alt="" class="product-img">
      <div class="product-description">
        <p class="product-title">
          {{elemento[0]}}
        </p>
      </div>
    </div>
      </a>
  {% endfor %}

  {% for elemento in pantalones %}
   <a class="pantalones">
    <form id="form{{elemento[0]}}" action="/producto" method="POST">
      <input name="producto" value="{{elemento[0]}}" hidden>
      <input name="tipo" value="pantalones" hidden>
    </form>
    
      <div class="product" onclick="document.getElementById('form{{elemento[0]}}').submit()">
      <img src="static/products/{{elemento[1]}}"  width="130" height= "100" alt="" class="product-img">
      <div class="product-description">
        <p class="product-title">
          {{elemento[0]}}
        </p>
      </div>
    </div>
    </a>
  {% endfor %}

  {% for elemento in buzos %}
    <a class="buzos">
    <form id="form{{elemento[0]}}" action="/producto" method="POST">
      <input name="producto" value="{{elemento[0]}}" hidden>
      <input name="tipo" value="buzos" hidden>
    </form>
    
      <div class="product" onclick="document.getElementById('form{{elemento[0]}}').submit()">
      <img src="static/products/{{elemento[1]}}"  width="130" height= "100" alt="" class="product-img">
      <div class="product-description">
        <p class="product-title">
          {{elemento[0]}}
        </p>
      </div>
    </div>
    </a>
  {% endfor %}

  {% for elemento in remeras %}
    <a class="remeras">
    <form id="form{{elemento[0]}}" action="/producto" method="POST">
      <input name="producto" value="{{elemento[0]}}" hidden>
      <input name="tipo" value="remeras" hidden>
    </form>
    
      <div class="product" onclick="document.getElementById('form{{elemento[0]}}').submit()">
      <img src="static/products/{{elemento[1]}}"  width="130" height= "100" alt="" class="product-img">
      <div class="product-description">
        <p class="product-title">
          {{elemento[0]}}
        </p>
      </div>
    </div>
    </a>
  {% endfor %}
  </section>

  <footer class="footer">
    <div class="redes-sociales">
      <form action="https://www.instagram.com/couture.culture22/" method="get" target="_blank">
        <button type="submit" class="instagram" id="icono_link">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
         <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
         <rect x="4" y="4" width="16" height="16" rx="4"></rect>
         <circle cx="12" cy="12" r="3"></circle>
         <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
          </svg>
        </button>
      </form>
          
        <form action="https://github.com/PioIX/G9-TP2-2CUAT" method="get" target="_blank">
        <button type="submit" class="github" id="icono_link">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
       <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
          </svg>
        </button>
        </form>

      <form action="https://replit.com/@Ivo-LucianoLuci/Proyecto-Couture-Culture#templates/index.html" method="get" target="_blank">
        <button type="submit" class="replit" id="icono_link">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code-circle-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
       <path d="M8.5 13.5l-1.5 -1.5l1.5 -1.5"></path>
       <path d="M15.5 10.5l1.5 1.5l-1.5 1.5"></path>
       <circle cx="12" cy="12" r="9"></circle>
       <path d="M13 9.5l-2 5.5"></path>
          </svg>
        </button>
      </form>
          
     </div>
  </footer>
    <script src="static/script.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/topbar.js"></script>
</body>
</html>

